body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8232d8, #1c2b44);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #6d0ad7, #173468);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.9;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.links a {
    color: #2575fc;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.question-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 100px auto;
}

.question-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.question-container form {
    text-align: left;
}

.question-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #5a4076, #7e8590);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.results-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

.results-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.results-container p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.results-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.rules-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    margin: 100px auto;
}

/* Timer styles */
#timer {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
}
